@import './fonts.scss';
@import './assets/css/tailwind.css';
@import '~toastify-js/src/toastify.css';

body {
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#app-frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}
#content {
  flex: 1;
  min-width: 0;
  z-index: 0;
  overflow: auto;
  will-change: padding-left;
  transition: padding-left 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.page {
  min-width: 800px;
}


button,
body,
textarea,
input {
  font-family: 'CircularStd', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'CircularStd';
}
svg {
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin both infinite 0.7s;
}

.fadeIn {
  animation: fadeIn 0.2s both;
}
